name: Android CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    # Bellek sınırlaması eklenmiş güvenli derleme adımı
    - name: Build with Gradle
      run: gradle assembleDebug --no-daemon -Dorg.gradle.jvmargs="-Xmx2048m -XX:MaxMetaspaceSize=512m"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: KaskCam-Ultimate-APK
        path: app/build/outputs/apk/debug/app-debug.apk
